body{
    background-color: whitesmoke;
}
h1{
    text-align: center;
}
#calculator-screen{
    width: 197px;
    display: block;
    border: 1px solid black;
    height: 20px;
}
.calculator-wrapper{
    /* border: 2px solid grey; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 200px;
    height: 400px;
    display: block;
}

.calculator-button-container{
    background-color: antiquewhite;
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: auto auto auto auto auto
}